
<!-- <mat-calendar class="calender" [(selected)]="selectedDate" (click)="date()" ></mat-calendar> -->
 <!-- <button (click)="updateEvent(this.time)">update</button> -->
 <!-- <button mat-raised-button color="primary" (click)="dialogShow()">
    Add Schedule
  </button> -->

<full-calendar *ngIf="!showdialog"   class="calender" [options]="calendarOptions"></full-calendar>
<app-dialog *ngIf="showdialog"  [date]="date"></app-dialog>
 <!-- <br>  <button mat-raised-button color="primary" (click)="showTable()">{{!table? 'Show Table':'Hide Table'}}</button> -->
   <ng-container >   <app-table  [dataSource]="timetable" [displayedColumns]="columns" ></app-table></ng-container>

<!-- *ngIf="showdialog"   -->