
<ng-container class="header">
    <button mat-raised-button color="primary" (click)="showTable()" class="tableButton">{{!table? 'Show Table':'Hide Table'}}</button>
  
<span   class="title"><strong>Schedule Timetable</strong> </span>

<mat-radio-group *ngIf="!table" aria-label="Select an option" class="radiobtn">
<mat-radio-button  (click)="radio('listMonth')" ><strong class="radio">List</strong> </mat-radio-button>
  <mat-radio-button  (click)="radio('dayGridWeek')" ><strong class="radio">Week</strong> </mat-radio-button>
    <mat-radio-button   (click)="radio('dayGridMonth')"><strong class="radio">Month</strong></mat-radio-button>
</mat-radio-group>
</ng-container >


<full-calendar  *ngIf="!table"   #input   class="calender" [options]="calendarOptions"></full-calendar>

   <ng-container class="table"> <app-table   *ngIf="table" [dataSource]="timetable" [displayedColumns]="columns" ></app-table></ng-container>
