/* .header{
  display:flex;
  justify-content:space-between;
  align-items: center;
} */

.calender{
  margin-top: 20px;
    width:100%;
    height:100%;
    justify-content: center;
}

.title{
  
  font-size:xx-large ;
  margin-left: 11%
  
}

.tableButton{
  margin-top: 20px;
  margin-right: 20%;
  margin-left: 1%;
  width:160px;
  height:50px;
}

.radio{
  font-size:20px ;
  margin-left:20%;
  margin-right:12px;
}



:host ::ng-deep .fc-daygrid-event {
  background-color: #1976d2;  
  color: #fff;
  border-radius: 4px;
  padding: 4px 6px;
  margin-top: 4px;
  font-size: 13px;
  
}

:host ::ng-deep .fc-toolbar-chunk {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px; 
}

:host ::ng-deep   .fc-header-toolbar{
height:2%;
width:100%;
  
}
/*  */

:host ::ng-deep  .fc-scrollgrid-sync-table {
background-color: #d5e6f6;

}

:host ::ng-deep .fc-scroller .fc-col-header  {
   background-color: rgb(226, 236, 171);
   height:50px;
}

:host ::ng-deep .fc-col-header-cell-cushion{
  font-size: large;
  margin-top:5%;
}

:host ::ng-deep .fc-daygrid-day-number{
  font-size: large;
}

