<mat-card>
  <mat-card-header>
    <mat-card-title>Add Schedule</mat-card-title>
  </mat-card-header>
  <mat-card-content>Date:{{date}}</mat-card-content>
  <mat-card-content>
 <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput placeholder="Enter Schedule" formControlName="title" />
  </mat-form-field><br>

    <mat-form-field>
    <mat-label>Professor</mat-label>
    <input matInput placeholder="Enter Professor Name" formControlName="professor" />
  </mat-form-field><br>

    <mat-form-field>
    <mat-label>Room No:</mat-label>
    <input matInput placeholder="Enter Room No" formControlName="roomNo" />
  </mat-form-field><br>

 <mat-form-field>
    <mat-label>Select Start Time</mat-label>
    <input matInput type="time" formControlName="start"  />
  </mat-form-field><br>

  <mat-form-field>
    <mat-label>Select End Time</mat-label>
    <input matInput type="time" formControlName="end" (change)="checkTime()" />
  </mat-form-field><br>
  <!-- <ng-container class="error" [ngStyle]="{'color':'red'}" > {{msg}}</ng-container> <br><br> -->

    <mat-form-field>
  <mat-label *ngIf="!!date">Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" formControlName="date">
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<br>
<br>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Add</button><br><br>
     <button mat-raised-button color="primary" (click)="cancel()" >Cancel</button><br><br>
    
</form>